body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Pages */
/* Home */
.home_container-position {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.home_app-name {
	font-size: 100px;
	margin: 50px 0;
}

.home_body-container {
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 7px;
	border: 1px solid white;
	height: 200px;
	width: 200px;
}

.home_mouse-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 11px;
	margin-bottom: 10px;
}

.home_mouse-left-button {
	animation: blinker 0.5s linear infinite;
	background-color: black;
	border-radius: 50px 0 0 0;
	border: 1px solid white;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 50px;
	outline: none;
	padding: 12px 40px;
	text-decoration: none;
	transition: 0.2s all;
	width: 12px;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.home_mouse-right-button {
	background-color: black;
	border-radius: 0 50px 0 0;
	border: 1px solid white;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 50px;
	outline: none;
	padding: 12px 40px;
	text-decoration: none;
	transition: 0.2s all;
	width: 12px;
}

/* Game */
.game_container-position {
	display: flex;
	flex-direction: column;
	width: 100%vw;
}

.game_container-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid white;
	height: 50px;
}

.game_container-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.game_container_body-text-your-score {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 100px;
	gap: 10px;
	margin: 50px 0;
}
.game_container_body-text-your-score-items {
	gap: 15px;
}

.game_container_body-text-your-score-modified {
	font-size: 20px;
	margin-bottom: 30px;
}

.game_container_body-text-autoclickers-bought {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 50px;
	gap: 10px;
	margin: 0 0 50px 0;
}

.game_container_body-text-autoclickers-bought-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 50px;
	gap: 10px;
	margin: 50px 0;
}

.game_container_header-link {
	color: white;
	text-decoration: none;
}

.game_container_body-text-ranking {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.game_container_body-text-your-score-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game_container_body-button-add-point {
	margin: 10px 0;
	padding: 10px 0px;
	width: 300px;
}

.game_container_body-button-buy-autoclicker {
	margin: 10px 0;
	padding: 10px 0px;
	width: 300px;
}

/* Components */
/* Button */
button {
	background-color: black;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 4px 2px;
	padding: 5px 70px;
	text-align: center;
	text-decoration: none;
}

button:disabled {
	background-color: #555;
	color: #ccc;
	cursor: not-allowed;
}

/* input */
.input-ok {
	background-color: black;
	border-radius: 2px;
	border: 1px solid white;
	color: white;
	height: 30px;
	padding-left: 10px;
}
.input-ok::placeholder {
	color: white;
}

.input-error {
	background-color: black;
	border-radius: 2px;
	border: 1px solid red;
	color: red;
	height: 30px;
	padding-left: 10px;
}
.input-error::placeholder {
	color: red;
}

.input-error:disabled {
	border-radius: 2px;
	border: 1px solid red;
}

small {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	color: red;
}

@media (max-width: 930px) {
	.game_container_body-text-your-score {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 80pxpx;
		gap: 10px;
		margin: 50px 0;
	}

	.game_container_body-text-autoclickers-bought {
		font-size: 40px;
	}

	.game_container_body-text-autoclickers-bought-items {
		font-size: 40px;
	}
}

@media (max-width: 520px) {
	.game_container_body-text-autoclickers-bought {
		font-size: 40px;
		margin: 0 0 50px 0;
	}

	.game_container_body-text-autoclickers-bought-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 40px;
		margin: 50px 0;
	}
	.game_container_body-text-your-score {
		font-size: 60px;
	}
	.game_container_body-text-autoclickers-bought {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 30px;
		margin: 0 0 50px 0;
	}
	.game_container_body-text-autoclickers-bought-value {
		margin-top: -40px;
	}
}
@media (max-width: 330px) {
	.home_app-name {
		font-size: 60px;
		margin: 50px 0;
	}
	.game_container_body-text-your-score {
		font-size: 40px;
	}
	.game_container_body-button-add-point {
		margin: 10px 0;
		padding: 10px 0px;
		width: 200px;
	}
	.game_container_body-button-buy-autoclicker {
		margin: 10px 0;
		padding: 10px 0px;
		width: 200px;
	}
}
