body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Pages */
/* Home */
.home_container-position {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.home_container {
	align-items: center;
	border-radius: 5px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: space-around;
	width: 200px;
}

/* Game */
.game_container-position {
	display: flex;
	flex-direction: column;
	width: 100%vw;
}

.game_container-header {
	background-color: dimgray;
	border: 1px solid hwite;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.game_container-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.game_container-header-link {
	text-decoration: none;
	color: white;
}
.game_container-body-scores {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Components */
/* Button */
button {
	background-color: black;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 5px 70px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

button:disabled {
	background-color: #555;
	color: #ccc;
	cursor: not-allowed;
}

/* input */
Input {
	background-color: black;
	color: white;
	border-radius: 2px;
	border: 1px solid white;
	height: 30px;
	padding-left: 10px;
}

Input:disabled {
	border-radius: 2px;
	border: 1px solid red;
}

small {
	color: red;
}
